@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .whiteSpaceMargins{
  @apply sm:mx-[5%] md:mx-[10%] lg:mx-[15%]
  }

  .button {
  @apply space-x-2.5 transition-all duration-300 inline-flex items-center justify-center py-2 px-3 rounded-lg shadow-sm font-Lato
  }
  .buttonWithHover {
  @apply hover:bg-black/5 dark:hover:bg-[#1d1d1d] space-x-2.5 transition-all duration-300 inline-flex items-center justify-center py-2 px-3 rounded-lg shadow-sm font-Lato
  }

  .card{
  @apply flex flex-col p-5 duration-300 rounded-lg shadow-lg secondary hover:scale-105
  }
  .cardCaption{
  @apply py-2 font-semibold text-center text-lg
  }

  .primary{
  @apply bg-chocy text-beige dark:bg-beige dark:text-chocy dark:bg-opacity-70 
  }
  .secondary{
  @apply bg-beige text-chocy dark:bg-chocy dark:text-beige
  }
  .bronzeSmolderGradient{
  @apply text-transparent bg-clip-text bg-gradient-to-r from-[#4C3635] to-[#E28C00]
  }

  .navAndFooterFont{
  @apply font-Veselka4F
  }
}

@font-face {
  font-family: "Potra-E0Ye";
  src: url('../public/fonts/Potra-E0Ye.ttf');
}
@font-face {
  font-family: "Veselka4F";
  src: url('../public/fonts/Veselka4F.otf');
}